@import url("https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background-color: #fff;
  font-family: "Geologica";
  color: #000;
}

input,
textarea,
select {
  font-family: "Geologica";
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 24px;
  @media (max-width: 1200px) {
    max-width: 1160px;
    padding: 0 20px;
  }
  @media (max-width: 768px) {
    max-width: 736px;
    padding: 0 16px;
  }
  @media (max-width: 480px) {
    padding: 0 20px;
  }
}

.btn {
  font-family: "Geologica";
  font-weight: 500;
  font-size: 18px;
  line-height: 220%;
  letter-spacing: -2%;
  outline: none;
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-primary {
  background-color: #fb4d03;
  color: #fff;
}

.btn-secondary {
  background: transparent;
  border: 1px solid #000;
}
